$greekF: 'Diogenes', Times, serif;
$greetingF: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$primaryC: white;
$opacityC: rgba(255, 255, 255, .45);
$grayC: #fafafa;
$dGrayC: #ddd;
$navyC: #337ab7;
$darkC: #032669;
$normalS: 1.3vw;


