@import 'fontsColors';

.header{
  color: $primaryC;
  text-align: center;
  font-size: 1.6vw;
  letter-spacing: 10px;
  margin-top: -90px;
  padding-bottom: 60px;
}
#mainText{
  color: $primaryC;
  text-decoration: none;
}
#image{
  alt: "Toportyu Icon";
  margin-top: 0px;
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
}
#type {
  color: $primaryC;
  font-size: 1.5vw;
  padding-left: 27%;
  font-family: $greetingF;
}

#greeting {
  position:absolute;
  margin-top: -22%;
  margin-left: 77%;
}