@import 'fontsColors';

 #logbuttons, #logout{
   margin-left: 88%;
 }
#user,#pass{
  margin-left: 10%;
  margin-top:0.5vw;
  width:70%;
  outline:none ;
}
#submitButton{ 
  background-color: $opacityC;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  margin-left: 10%;
  font-family: Arial, serif;
  font-size:20px;
  font-weight:bold;
  margin-top: 0.5vw;
  width:75%;
  top: 5%;
  padding:1vw 2vw;
  text-decoration:none;
  text-shadow:0 1px 0 #3d768a;
}
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:1;
  -webkit-transition: opacity 2000ms ease-in;
  -moz-transition: opacity 2000ms ease-in;
  transition: opacity 2000ms ease-in;
  pointer-events: auto;
}
.modalDialog.ng-show-add {
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  color: #171717;
  line-height: 25px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 0px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.close:hover {
  color: #8e8e8e;
  cursor: pointer;
}

.logbuttons {
  background-color:rgba(255, 255, 255, .28);
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  position:absolute;
  cursor:pointer;
  color:black;
  font-family: $greekF;
  font-size:1vw;
  margin-left:91%;
  margin-top:-0.7%;
  height: 6%;
  border:hidden;
  top: 5%;
  padding:1vw 2vw;
  text-decoration:none;
  outline: none;
}
.logbuttons:hover {
  background-color:rgba(255, 255, 255, .5);;
}
#failed {
  color:red;
  margin-top: -6%;
  margin-left: 17%;

}
#failedicon{
  width: 7%;
  margin-left: 9%;
}
#fat{
  width:62%;
  margin-left:18%;
}
#titlelogin{
  color: darkgrey;
}