@import 'fontsColors';

select {
  color: $primaryC;
  background-color: $navyC;
  font-size: $normalS;
  font-family: $greekF;
  line-height: 1.1;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 14px;
  border-radius: 10px;
  -webkit-appearance: none;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.6);
}
select:focus{
  outline: none;
}