@import 'fontsColors';

select {
  color: black;
  background-color: $opacityC;
  font-size: $normalS;
  font-family: $greekF;
  line-height: 1.1;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 14px;
  border-radius: 10px;
  -webkit-appearance: none;
  border: hidden;

}
select:focus{
  outline: none;
}