@import "fontsColors";
@import 'ulLi';
@import 'addOkButtons';
@import 'fb';
@import 'listGroup';
@import 'copyright';
@import 'inputs';
@import 'sendLoadButtons';
@import 'moz';
@import 'body';
@import 'header';
@import 'midd';
@import 'select';
@import 'login';

@font-face {
  font-family: 'DIOGENES';
  src: url("../fonts/DIOGENES.ttf");
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

