

@font-face {
    font-family: 'Diogenos'; /*a name to be used later*/
    src: url("DIOGENES.ttf");
}
::-webkit-input-placeholder {
font-family: "Diogenos", Times, serif;
}

:-moz-placeholder { /* Firefox 18- */
font-family: "Diogenos", Times, serif;
}

::-moz-placeholder {  /* Firefox 19+ */
font-family: "Diogenos", Times, serif;  
}

:-ms-input-placeholder {  
font-family: "Diogenos", Times, serif;
}

#header{
    color:white;
    text-align:center;
	 font-size: 30px;
	letter-spacing: 10px;
    padding:15px;

}
img{
	alt:"HTML5 Icon";
	style=width:128px;height:128px;
}


input{
	font-size: 1em;
	padding: 7px;
	height: 30px;
	width: 50%;
	vertical-align: center;
	border-radius:10px;
	font-family: "Diogenos", Times, serif;
}
.stufftomid
{
	width:50%;
	text-align: left;
	padding-left: 24.2%;
}
.midd{
	color: white;
	text-align: center;
	 font-size: 20px;
	margin-top: 3%;
    margin-bottom: 1%; 
    margin-right: auto;
    margin-left: auto;
	width: 80%;
    height: 100%;
	 border-style: solid;
    border-color: white;
	background-color: rgba(255,255,255,.5);
	padding: 3%;
	
	
}

body{
	font-family: "Diogenos", Times, serif;
	background-image:  url("gr4.jpg");
	background-size: cover;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 
}
#copyright{
	
	color:white;
	text-align: center;
	font-size: 20 px;
	margin-top: 90%;
}


input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-primary {
font-family: "Diogenos", Times, serif;
font-size: 1.1em;
  border-radius: 30px;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  margin-bottom:10px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
    transition: 1s;
}
.btn-primary:hover {
  color: #fff;
  background-color:#0000A0;
  border-color: #2e6da4;

}


input.cost{
	width: 23%;
}
ul,
ol {
 	padding: 0px;
  margin-left: 0px;
  margin-top: 0;
  margin-bottom: 10px;

}

li {
	overflow: auto;
 	border-radius: 3px;
	padding: 1px; 
	width: 58%; height: 8 %;  margin: 0 0 1px 0;
	list-style-type: none;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	background-color:#fafafa;
 }
 
 .list-group {
 margin-top: 3%;
    margin-bottom: 1%; 
    margin-right: auto;
    margin-left: auto;
}
.list-group-item {
  color: black;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-top:0;
  margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item:first-child {
 border-radius: 10px;


}
.list-group-item:last-child {
   border-radius: 10px;
    margin-bottom: 30px;

}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;

blockquote.style1 {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  }