<div class="header" ng-controller="HeaderController">
    <a href="https://www.facebook.com/kerkyra.gyros"><img id="fb" src="images/fb.png"></a>
    <button id="login" ng-show="loginButtonVisible" ng-click="loginButtonPressed()">Log In</button>
    <button id="logout" ng-show="logoutButtonVisible" ng-click="logoutButtonPressed()">Log Out</button>
    <a href="http://localhost:3000/" id="mainText"><h1> ∙ TOPORTYU ∙ </h1></a>
    <a href="http://kerkyra.co.hu/"><img id="image" src="images/sign.png"></a>
</div>