<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" type="text/css" href="toportyu.css" >
</head>
<body>
	<nav class="topbar">
		<h1><font color="white">Toportyu</font></h1>
	</div>
</nav>
<div class="container">

</div>
<div ng-controller="OrderController as orderCtrl">
	<div class="container central">
		<h3>Add Order</h3>
		<input ng-model="newOrder.content" type="text" class="form-control" id="formGroupExampleInput" placeholder="Add your order here">
		<button class="btn-primary" ng-click="send()">
			Send	
		</button>				
	</div>
	<hr/>
	<div class="container central">
		<h3>List Orders</h3>
		<button ng-bind="state==='notLoaded'? 'Load' : 'Refresh'" class="btn-primary" ng-click="load()">
			Load	
		</button>
		<ul class="list-group"  ng-cloak>
			<section  ng-repeat="order in orders">
				<li ng-bind="order.content" class="list-group-item"> </li>
			</section>
		</ul>
	</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js">
</script>
<script src="app.js" type="text/javascript"></script>
</body>
</html>